<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Jeopardy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'jeopardy/css/style.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <!-- load in javascript things -->
        <script type="text/javascript">
            // pass in data to js
            var data = JSON.parse("{{data|escapejs}}"); 
        </script>
        <script type="module" src="{% static 'jeopardy/js/main.js' %}"></script>
        <!-- header stuff -->
        <header>
            <div id="jeopImCont">
                <image id="jeopardyImage" src="{% static 'jeopardy/images/jeopardy_text.png' %}"></image>
                {% block header %}
                {% endblock %}
            </div>
        </header>
        {% block body %}
        {% endblock %}
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>